node_modules/
.next/
package-lock.json
docs/$next-js_auth,module_%20exporte%20toutes%20les%20fonctions%20utilles%20de%20@nextjs.html
docs/index.html
docs/index.js.html
docs/module-$next-js_auth-%20exporte%20toutes%20les%20fonctions%20utilles%20de%20@nextjs.html
docs/providers_credentials_customer_index.js.html
docs/assets/android-chrome-192x192.png
docs/assets/android-chrome-512x512.png
docs/assets/apple-touch-icon.png
docs/assets/bootstrap.min.css
docs/assets/bootstrap.min.css.map
docs/assets/favicon-16x16.png
docs/assets/favicon-32x32.png
docs/assets/favicon.ico
docs/assets/glyphicons-halflings-regular.eot
docs/assets/glyphicons-halflings-regular.svg
docs/assets/glyphicons-halflings-regular.ttf
docs/assets/glyphicons-halflings-regular.woff
docs/assets/glyphicons-halflings-regular.woff2
docs/assets/main.bundle.js
docs/assets/main.css
docs/assets/prism.css
docs/fonts/OpenSans-Bold-webfont.eot
docs/fonts/OpenSans-Bold-webfont.svg
docs/fonts/OpenSans-Bold-webfont.woff
docs/fonts/OpenSans-BoldItalic-webfont.eot
docs/fonts/OpenSans-BoldItalic-webfont.svg
docs/fonts/OpenSans-BoldItalic-webfont.woff
docs/fonts/OpenSans-Italic-webfont.eot
docs/fonts/OpenSans-Italic-webfont.svg
docs/fonts/OpenSans-Italic-webfont.woff
docs/fonts/OpenSans-Light-webfont.eot
docs/fonts/OpenSans-Light-webfont.svg
docs/fonts/OpenSans-Light-webfont.woff
docs/fonts/OpenSans-LightItalic-webfont.eot
docs/fonts/OpenSans-LightItalic-webfont.svg
docs/fonts/OpenSans-LightItalic-webfont.woff
docs/fonts/OpenSans-Regular-webfont.eot
docs/fonts/OpenSans-Regular-webfont.svg
docs/fonts/OpenSans-Regular-webfont.woff
docs/scripts/linenumber.js
docs/scripts/prettify/Apache-License-2.0.txt
docs/scripts/prettify/lang-css.js
docs/scripts/prettify/prettify.js
docs/styles/jsdoc-default.css
docs/styles/prettify-jsdoc.css
docs/styles/prettify-tomorrow.css
